@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(51, 132, 105);
}
main{
    background-color: white;
    border-radius: 1px;
    box-shadow: 2px 2px 2px rgba(96, 195, 162, 0.77);
    width: 800px;
    padding: 10px;
    margin: auto;
}
footer{
    background-color: rgb(26, 94, 71);
    border-radius: 1px;
    box-shadow: 2px 2px 2px rgba(96, 195, 162, 0.77);
    width: 800px;
    padding: 10px;
    margin: auto;
}
header{
    text-align: center;
    background-image: linear-gradient(to bottom rgb(13, 210, 121) rgb(9, 112, 73));
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(2, 97, 35, 0.482);
}